{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content %}
    <div class="page-container">    
        <div class="start-box">
            <h1>Welcome!</h1>

            <div class="action-group">
                <a href="/user_login" class="btn btn-primary">Individual User</a>
                <a href="/org_login" class="btn btn-primary">Organization</a>
            </div>

            <hr class="hr">

            <div class="guest-group">
                <a href="/guest_home" class="btn btn-secondary">Continue as a Guest</a>
            </div>
        </div>
    </div>
{% endblock %}